# KNMI Daggegevens

https://www.knmi.nl/nederland-nu/klimatologie/daggegevens

https://daggegevens.knmi.nl/klimatologie/daggegevens

https://www.knmi.nl/kennis-en-datacentrum/achtergrond/data-ophalen-vanuit-een-script

In [4]:
from urllib.parse import urlparse

import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [24]:
year = 2024

start = f'{year}-01-01'
end = f'{year}-12-31'

stations = {
    260: 'De Bilt',
    279: 'Hoogeveen',
}

stns = ':'.join(map(str, stations.keys()))
vars = ':'.join(['TG','TN','TX'])

url = 'https://www.daggegevens.knmi.nl/klimatologie/daggegevens'

url += f'?start={start}'
url += f'&end={end}'
url += f'&stns={stns}'
url += f'&vars={vars}'

print(url)

https://www.daggegevens.knmi.nl/klimatologie/daggegevens?start=2024-01-01&end=2024-12-31&stns=260:279&vars=TG:TN:TX

In [25]:
n_header_lines = 6 + len(stns.split(':')) + len(vars.split(':'))

df = pd.read_csv(url,
                 skiprows=n_header_lines, 
                 skipinitialspace=True)

df.head()

   # STN  YYYYMMDD   TG  TN   TX
0    260  20240101   74  64   91
1    260  20240102  105  68  129
2    260  20240103   94  80  110
3    260  20240104   76  60   92
4    260  20240105   70  51   90

In [27]:
df.rename(columns={'# STN': 'STN'}, inplace=True)

df[['TG', 'TN', 'TX']] /= 10

df['dd'] = pd.to_datetime(df['YYYYMMDD'], format='%Y%m%d')
df = df.set_index('dd')

df

            STN  YYYYMMDD    TG    TN    TX
dd
2024-01-01  260  20240101  0.74  0.64  0.91
2024-01-02  260  20240102  1.05  0.68  1.29
2024-01-03  260  20240103  0.94  0.80  1.10
2024-01-04  260  20240104  0.76  0.60  0.92
2024-01-05  260  20240105  0.70  0.51  0.90
...         ...       ...   ...   ...   ...
2024-12-27  279  20241227  0.21 -0.03  0.44
2024-12-28  279  20241228 -0.09 -0.17 -0.03
2024-12-29  279  20241229  0.32 -0.04  0.53
2024-12-30  279  20241230  0.65  0.50  0.77
2024-12-31  279  20241231  0.45  0.19  0.74

[732 rows x 5 columns]